_ReSharper*
/WindowsAzurePowershell/src/*/bin
/WindowsAzurePowershell/src/package
/WindowsAzurePowershell/setup/build
/WindowsAzurePowershell/setup/*/bin
obj
TestResults
*.user
*.suo
*.orig
/Publish
/Package